table {
  border-collapse: collapse;
  font-size: 75%;
  width: 200%;
}
th {
  background-color: #201050;
  color: #fff;
}
td, th {
  border: 1px solid #312;
  padding: 0 .2em;
}
tr:nth-child(even) {background: #CCF:}
tr:nth-child(odd) {background: #FFF}
